<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recommendation</title>
</head>
<body style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding-top: 5vh; gap: 2vh;">
    <h1 style="margin-bottom: -1vh;">Music Recommender</h1>
    <p>Enter Values from 0 to 1</p>
    <div style="display: flex; flex-direction: row; justify-content: center; gap: 2vw;">
        <p>Energy: </p>
        <input id="energy_input" type="range" min="0" max="1" value="0.5" step="0.1">
        <p id="energy_value"></p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; gap: 2vw;">
        <p>Danceability: </p>
        <input id="danceability_input" type="range" min="0" max="1" value="0.5" step="0.1">
        <p id="danceability_value"></p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; gap: 2vw;">
        <p>Valence: </p>
        <input id="valence_input" type="range" min="0" max="1" value="0.5" step="0.1">
        <p id="valence_value"></p>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; gap: 2vw;">
        <label for="genre">Genre: </label>
        <select name="genre" id="genre">
            <option>random</option>
        </select>
    </div>

    <button id="btn" style="margin: 2vh;">Get Recommendation</button>

    <p id="display"></p>
    
    <button id="checkout_button" style="display: none;">Check out the track!</button>

    <button id="extend_display" style="display: none;">More Information</button>
    <p id="extended_display"></p>
    <script src="/static/script.js"></script>
</body>
</html>