<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="display: flex; flex-direction: column; gap: 4vh; align-items: center;">
   
    <div style="display: flex; gap: 2vw;">
        <p>Enter BPM:</p>
        <input type="text" id="BPM"> 
    </div>
<button id="btn">Send</button>
<p id="result"></p>
    <script src="/static/script.js"></script>
</body>
</html>